* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-image: radial-gradient(circle, white, red, black);
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

h1.title {
    font-size: 120px;
    margin-top: 80px;
    color: black;
}

h3.subtitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: black;
}

p.description {
    font: 1.3rem;
    margin-bottom: 2.5rem;
    color: black;
    text-align: center;
}